@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components/Fade';
html {
  @apply flex h-screen w-screen items-center bg-black;
}
body {
  @apply m-auto h-[480px] w-[640px];
}

@media (max-width: 640px) {
  body {
    @apply m-0 h-screen w-screen;
  }
}
#root {
  @apply h-full w-full;
}
